.font-black {
    color: #2e3333 !important;
}

.font-grey {
    color: #828585 !important;
}

.font-s {
    font-size: 14px !important;
}

.font-m {
    font-size: 16px !important;
}

.font-l {
    font-size: 18px !important;
}

.font-xl {
    font-size: 25px !important;
}