/**************************************/
/* GENERIC HANDLER STYLES             */
/**************************************/
body {
    margin: 0;
    padding: 0;
    font-family: "Hind Vadodara", "Helvetica Neue", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #efefef;
}

.width-handler {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-wrapper {
    min-width: 100%;
    background-color: #f8f9fa;
}