.margin-none {
    margin: 0;
}

.margin-xxs {
    margin: 2px;
}

.margin-xs {
    margin: 5px;
}

.margin-s {
    margin: 10px;
}

.margin-m {
    margin: 15px;
}

.margin-l {
    margin: 25px;
}

.margin-top-xss {
    margin-top: 2px;
}

.margin-top-xs {
    margin-top: 5px;
}

.margin-top-s {
    margin-top: 10px;
}

.margin-top-m {
    margin-top: 15px;
}

.margin-top-l {
    margin-top: 25px;
}

.margin-bottom-xss {
    margin-bottom: 2px;
}

.margin-bottom-xs {
    margin-bottom: 5px;
}

.margin-bottom-s {
    margin-bottom: 10px;
}

.margin-bottom-m {
    margin-bottom: 15px;
}

.margin-bottom-l {
    margin-bottom: 25px;
}

.margin-left-xss {
    margin-left: 2px;
}

.margin-left-xs {
    margin-left: 5px;
}

.margin-left-s {
    margin-left: 10px;
}

.margin-left-m {
    margin-left: 15px;
}

.margin-left-l {
    margin-left: 25px;
}

.margin-right-xss {
    margin-right: 2px;
}

.margin-right-xs {
    margin-right: 5px;
}

.margin-right-s {
    margin-right: 10px;
}

.margin-right-m {
    margin-right: 15px;
}

.margin-right-l {
    margin-right: 25px;
}