@media (max-width: 992px) {
    .category-links-wrapper {
        display: none;
    }
}

.menu-item-wrapper {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style-type: none;
}

.menu-item {
    width: 50%;
    flex-grow: 1;
}

@media (max-width: 992px) {
    .menu-item {
        width: 100%;
    }
}

.basket {
    position: sticky;
    top: 80px;
    margin-top: 40px;
}