.padding-none {
    padding: 0;
}

.padding-xxs {
    padding: 2px;
}

.padding-xs {
    padding: 5px;
}

.padding-s {
    padding: 10px;
}

.padding-m {
    padding: 15px;
}

.padding-l {
    padding: 25px;
}

.padding-top-xss {
    padding-top: 2px;
}

.padding-top-xs {
    padding-top: 5px;
}

.padding-top-s {
    padding-top: 10px;
}

.padding-top-m {
    padding-top: 15px;
}

.padding-top-l {
    padding-top: 25px;
}

.padding-bottom-xss {
    padding-bottom: 2px;
}

.padding-bottom-xs {
    padding-bottom: 5px;
}

.padding-bottom-s {
    padding-bottom: 10px;
}

.padding-bottom-m {
    padding-bottom: 15px;
}

.padding-bottom-l {
    padding-bottom: 25px;
}

.padding-left-xss {
    padding-left: 2px;
}

.padding-left-xs {
    padding-left: 5px;
}

.padding-left-s {
    padding-left: 10px;
}

.padding-left-m {
    padding-left: 15px;
}

.padding-left-l {
    padding-left: 25px;
}

.padding-right-xss {
    padding-right: 2px;
}

.padding-right-xs {
    padding-right: 5px;
}

.padding-right-s {
    padding-right: 10px;
}

.padding-right-m {
    padding-right: 15px;
}

.padding-right-l {
    padding-right: 25px;
}